In [1]:
import pandas as pd

# List of file names
file_names = ['cardio_alco.csv', 'cardio_base.csv', 'covid_data.csv']

# Dictionary to store DataFrames
dfs = {}

# Loop through each file and read it into a DataFrame
for file_name in file_names:
    # Assuming all files are in the same directory as your Python script
    file_path = file_name
    # Read the file into a DataFrame
    df = pd.read_csv(file_path)
    # Store the DataFrame in the dictionary using the file name as the key
    dfs[file_name] = df

# Now you can access each DataFrame using its file name as the key
# For example:
cardio_alco_df = dfs['cardio_alco.csv']
cardio_base_df = dfs['cardio_base.csv']
covid_data_df = dfs['covid_data.csv']

# You can perform operations on these DataFrames as needed
# For example, you can print the first few rows of each DataFrame:
print("First few rows of cardio_alco_df:")
cardio_alco_df.head()

print("\nFirst few rows of cardio_base_df:")
cardio_base_df.head()

print("\nFirst few rows of covid_data_df:")
covid_data_df.head()

First few rows of cardio_alco_df:

First few rows of cardio_base_df:

First few rows of covid_data_df:

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [2]:
cardio_alco_df.head()

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0

In [3]:
cardio_base_df.head()

   id      age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  5/10/50       2     168    62.0    110     80            1      0
1   1   2/2/28       1     156    85.0    140     90            3      0
2   2  8/17/51       1     165    64.0    130     70            3      0
3   3  3/31/48       2     169    82.0    150    100            1      0
4   4  11/3/47       1     156    56.0    100     60            1      0

In [4]:


# Read the CSV file with semicolon as the delimiter
cardio_alco_df = pd.read_csv('cardio_alco.csv', sep=';')
cardio_alco_df.head()

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0

In [5]:
covid_data_df.columns

Index(['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita',
       'hospital_beds_per_thousand'],
      dtype='object')

#   how taall are the takkest 1% of people

In [6]:
# Calculate the 99th percentile of height
height_99th_percentile = cardio_base_df['height'].quantile(0.99)

print("Height of the tallest 1% of people:", height_99th_percentile)

Height of the tallest 1% of people: 184.0

# sspeamans corelation

In [7]:
import numpy as np

In [8]:
# Remove the 'age' column from the DataFrame
cardio_base_df2 = cardio_base_df.drop(columns=['age'])

# Calculate Spearman's rank correlation matrix
spearman_corr = cardio_base_df2.corr(method='spearman')

# Exclude self-correlations and duplicates
spearman_corr = spearman_corr.mask(np.tril(np.ones(spearman_corr.shape, dtype=bool)).astype(bool))

# Find the pair with the highest correlation
max_corr = spearman_corr.abs().max().max()
feature1, feature2 = (spearman_corr.abs().stack()[spearman_corr.abs().stack() == max_corr].index.tolist())[0]

print("Features with the highest Spearman's rank correlation:")
print(feature1, "and", feature2)
print("Correlation coefficient:", max_corr)

Features with the highest Spearman's rank correlation:
ap_hi and ap_lo
Correlation coefficient: 0.7354361051379777

In [9]:
# Calculate the mean and standard deviation of height
mean_height = cardio_base_df['height'].mean()
std_dev_height = cardio_base_df['height'].std()

# Calculate the threshold for being more than 2 standard deviations away from the mean
threshold = mean_height + 2 * std_dev_height

# Count the number of people whose height exceeds the threshold
num_people_above_threshold = cardio_base_df[cardio_base_df['height'] > threshold].shape[0]

# Calculate the percentage of people who meet this criterion
total_people = cardio_base_df.shape[0]
percent_above_threshold = (num_people_above_threshold / total_people) * 100

print("Percentage of people more than 2 standard deviations away from the average height:", percent_above_threshold)

Percentage of people more than 2 standard deviations away from the average height: 2.0557142857142856

In [14]:
import pandas as pd

# Assuming the current date is today
current_date = pd.to_datetime('now')

# Convert the 'age' column to datetime format
cardio_base_df['age'] = pd.to_datetime(cardio_base_df['age'], format='%m/%d/%y')

# Adjust dates in the 2000s to the 1900s
cardio_base_df['age'] = cardio_base_df['age'].mask(cardio_base_df['age'] > current_date, cardio_base_df['age'] - pd.DateOffset(years=100))

# Calculate the actual age by subtracting the birth dates from the current date
cardio_base_df['actual_age'] = (current_date - cardio_base_df['age']).dt.days / 365.25  # Convert days to years

# Print the DataFrame to verify the changes
cardio_base_df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,actual_age
0,0,1950-05-10,2,168,62.0,110,80,1,0,73.905544
1,1,1928-02-02,1,156,85.0,140,90,3,0,96.172485
2,2,1951-08-17,1,165,64.0,130,70,3,0,72.635181
3,3,1948-03-31,2,169,82.0,150,100,1,0,76.013689
4,4,1947-11-03,1,156,56.0,100,60,1,0,76.421629
...,...,...,...,...,...,...,...,...,...,...
69995,99993,1952-09-03,2,168,76.0,120,80,1,1,71.586585
69996,99995,1961-11-16,1,158,126.0,140,90,2,0,62.384668
69997,99996,1952-03-13,2,183,105.0,180,90,3,0,72.062971
69998,99998,1961-05-30,1,163,72.0,135,80,1,0,62.850103
69999,99999,1940-05-02,1,170,72.0,120,80,2,0,83.926078

In [18]:
import pandas as pd

# Assuming the current date is today
current_date = pd.to_datetime('now')

# Convert the 'age' column to datetime format
cardio_base_df['age'] = pd.to_datetime(cardio_base_df['age'], format='%m/%d/%y')

# Calculate the actual age by subtracting the birth dates from the current date
cardio_base_df['actual_age'] = (current_date - cardio_base_df['age']).dt.days / 365.25  # Convert days to years

# Round the 'actual_age' column to the nearest whole number
cardio_base_df['actual_age'] = cardio_base_df['actual_age'].round()

# Merge cardio_base_df with alcohol info
merged_df = pd.merge(cardio_base_df, cardio_alco_df, on='id', how='left')

# Drop rows where alcohol = 0
merged_df = merged_df[merged_df['alco'] == 1]

# Filter for individuals who are 50 years old
filtered_df_50_and_alcohol = merged_df[merged_df['actual_age'] == 50]

# Calculate the percentage of the population who are 50 years old and consume alcohol
total_population = merged_df.shape[0]
population_50_and_alcohol = filtered_df_50_and_alcohol.shape[0]
percent_population_50_and_alcohol = (population_50_and_alcohol / total_population) * 100

print("Percentage of the population who are 50 years old and consume alcohol:", percent_population_50_and_alcohol)

Percentage of the population who are 50 years old and consume alcohol: 0.03288391976323578

In [19]:
# Split the DataFrame into smokers and non-smokers
smokers_df = merged_df[merged_df['smoke'] == 1]
non_smokers_df = merged_df[merged_df['smoke'] == 0]

# Calculate the mean systolic and diastolic blood pressure for smokers and non-smokers
mean_sys_bp_smokers = smokers_df['ap_hi'].mean()
mean_dia_bp_smokers = smokers_df['ap_lo'].mean()

mean_sys_bp_non_smokers = non_smokers_df['ap_hi'].mean()
mean_dia_bp_non_smokers = non_smokers_df['ap_lo'].mean()

# Print the mean blood pressure for smokers and non-smokers
print("Mean Systolic Blood Pressure for Smokers:", mean_sys_bp_smokers)
print("Mean Diastolic Blood Pressure for Smokers:", mean_dia_bp_smokers)
print("Mean Systolic Blood Pressure for Non-Smokers:", mean_sys_bp_non_smokers)
print("Mean Diastolic Blood Pressure for Non-Smokers:", mean_dia_bp_non_smokers)

Mean Systolic Blood Pressure for Smokers: 129.16176470588235
Mean Diastolic Blood Pressure for Smokers: 101.10828877005348
Mean Systolic Blood Pressure for Non-Smokers: 130.81747572815533
Mean Diastolic Blood Pressure for Non-Smokers: 111.73656957928803

In [20]:
# Calculate the mean weight for smokers and non-smokers
mean_weight_smokers = smokers_df['weight'].mean()
mean_weight_non_smokers = non_smokers_df['weight'].mean()

# Compare mean weight between smokers and non-smokers
if mean_weight_smokers < mean_weight_non_smokers:
    print("Smokers generally weigh less than non-smokers.")
else:
    print("Smokers do not weigh less than non-smokers.")

Smokers generally weigh less than non-smokers.

In [21]:
# Split the DataFrame into men and women
men_df = merged_df[merged_df['gender'] == 'male']
women_df = merged_df[merged_df['gender'] == 'female']

# Calculate the mean systolic and diastolic blood pressure for men and women
mean_sys_bp_men = men_df['ap_hi'].mean()
mean_dia_bp_men = men_df['ap_lo'].mean()

mean_sys_bp_women = women_df['ap_hi'].mean()
mean_dia_bp_women = women_df['ap_lo'].mean()

# Compare mean blood pressure between men and women
if mean_sys_bp_men > mean_sys_bp_women and mean_dia_bp_men > mean_dia_bp_women:
    print("Men generally have higher blood pressure than women.")
else:
    print("Men do not have higher blood pressure than women.")

Men do not have higher blood pressure than women.

In [22]:
# Split the DataFrame into smokers and non-smokers
smokers_df = merged_df[merged_df['smoke'] == 1]
non_smokers_df = merged_df[merged_df['smoke'] == 0]

# Calculate the mean cholesterol level for smokers and non-smokers
mean_cholesterol_smokers = smokers_df['cholesterol'].mean()
mean_cholesterol_non_smokers = non_smokers_df['cholesterol'].mean()

# Compare mean cholesterol levels between smokers and non-smokers
if mean_cholesterol_smokers > mean_cholesterol_non_smokers:
    print("Smokers generally have higher cholesterol levels than non-smokers.")
else:
    print("Smokers do not have higher cholesterol levels than non-smokers.")

Smokers do not have higher cholesterol levels than non-smokers.

In [42]:
covid_data_df.columns

Index(['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita',
       'hospital_beds_per_thousand'],
      dtype='object')

In [43]:
# Filter the data for Italy and Germany
italy_data = covid_data_df[covid_data_df['location'] == 'Italy']
germany_data = covid_data_df[covid_data_df['location'] == 'Germany']

# Calculate cumulative sum of confirmed cases for each country
italy_data['cumulative_cases'] = italy_data['new_cases'].cumsum()
germany_data['cumulative_cases'] = germany_data['new_cases'].cumsum()

# Merge the data for Italy and Germany on the date
merged_data = pd.merge(italy_data, germany_data, on='date', suffixes=('_italy', '_germany'))

# Find the date when total confirmed cases between Italy and Germany exceeded 10000
date_exceeding_10000 = merged_data.loc[merged_data['cumulative_cases_italy'] + merged_data['cumulative_cases_germany'] > 10000, 'date'].min()

print("Date when total confirmed cases between Italy and Germany exceeded 10000:", date_exceeding_10000)

Date when total confirmed cases between Italy and Germany exceeded 10000: 2020-03-10

/tmp/ipykernel_20548/4154487705.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data['cumulative_cases'] = italy_data['new_cases'].cumsum()
/tmp/ipykernel_20548/4154487705.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany_data['cumulative_cases'] = germany_data['new_cases'].cumsum()

In [45]:
covid_data_df

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [47]:
import numpy as np
from scipy.optimize import curve_fit

# Step 1: Extract relevant subset of data
subset_data = covid_data_df[(covid_data_df['date'] >= '2020-02-28') & (covid_data_df['date'] <= '2020-03-20')]

# Step 2: Define the exponential function
def exponential_func(x, A, B):
    return A * np.exp(B * x)

# Step 3: Extract x (days passed) and y (cumulative cases)
days_passed = np.arange(len(subset_data))
cumulative_cases = subset_data['new_cases'].cumsum()

# Step 4: Fit the exponential curve
popt, _ = curve_fit(exponential_func, days_passed, cumulative_cases)

# Step 5: Calculate the cumulative number of real cases on 2020-03-20
cases_on_20200320 = subset_data.loc[subset_data['date'] == '2020-03-20', 'new_cases'].cumsum().iloc[0]

# Step 6: Evaluate the exponential curve at the date of interest
days_to_20200320 = (pd.to_datetime('2020-03-20') - pd.to_datetime('2020-02-28')).days
expected_cases_on_20200320 = exponential_func(days_to_20200320, *popt)

# Step 7: Calculate the difference between the exponential curve and the total number of real cases
difference = expected_cases_on_20200320 - cases_on_20200320

print("Difference between the exponential curve and the total real cases on 2020-03-20:", difference)

Difference between the exponential curve and the total real cases on 2020-03-20: 1318815734.4832146

/tmp/ipykernel_20548/3535314526.py:9: RuntimeWarning: overflow encountered in exp
  return A * np.exp(B * x)

In [48]:
# Calculate the death rate for each country
covid_data_df['death_rate'] = covid_data_df['new_deaths'] / covid_data_df['population'] * 100000  # Assuming population is in 100,000s

# Group by country and calculate the mean death rate
country_death_rates = covid_data_df.groupby('location')['death_rate'].mean()

# Sort the countries by their death rates in descending order
sorted_countries = country_death_rates.sort_values(ascending=False)

# Get the country with the third highest death rate
third_highest_country = sorted_countries.index[2]  # Indexing starts from 0, so index 2 corresponds to the third highest

print("Country with the third highest death rate:", third_highest_country)

Country with the third highest death rate: Belgium

In [51]:
# Filter the data to remove rows with missing information
filtered_data = covid_data_df.dropna(subset=['population', 'aged_65_older_percent', 'new_deaths'])

# Filter the data for countries where more than 20% of the population is over 65 years old
filtered_data = filtered_data[filtered_data['aged_65_older_percent'] > 20]

# Filter the data for countries with death rates over 50 per million inhabitants
filtered_data = filtered_data[filtered_data['new_deaths'] > (50 / 1_000_000)]

# Get the list of countries meeting both conditions
countries_meeting_conditions = filtered_data['location'].unique()

print("Countries where more than 20% of the population is over 65 years old and have death rates over 50 per million inhabitants:")
print(countries_meeting_conditions)

Countries where more than 20% of the population is over 65 years old and have death rates over 50 per million inhabitants:
['Bulgaria' 'Finland' 'Germany' 'Greece' 'Italy' 'Japan' 'Portugal']

In [52]:
# Filter the data to remove rows with missing information
filtered_data = covid_data_df.dropna(subset=['population', 'aged_65_older_percent', 'new_deaths'])

# Filter the data for countries where more than 20% of the population is over 65 years old
filtered_data = filtered_data[filtered_data['aged_65_older_percent'] > 20]

# Filter the data for countries with death rates over 50 per million inhabitants
filtered_data = filtered_data[filtered_data['new_deaths'] > (50 / 1_000_000)]

# Calculate the number of true positives (countries meeting both conditions)
TP = len(filtered_data)

# Calculate the number of false positives (countries not meeting both conditions but are incorrectly classified as such)
FP = len(covid_data_df) - len(filtered_data)

# Calculate the number of false negatives (countries meeting both conditions but are incorrectly classified as not meeting them)
FN = len(filtered_data[filtered_data['new_deaths'] <= (50 / 1_000_000)])

# Calculate Precision
precision = TP / (TP + FP)

# Calculate Recall
recall = TP / (TP + FN)

# Calculate F1 Score
f1_score = 2 * (precision * recall) / (precision + recall)

print("F1 Score:", f1_score)

F1 Score: 0.04762106153520829

In [54]:
# Calculate the proportion of countries with GDP over 10000
total_countries = len(covid_data_df)
countries_with_high_gdp = len(covid_data_df[covid_data_df['gdp_per_capita'] > 10000])
prob_A = countries_with_high_gdp / total_countries

# Calculate the probability of having GDP over 10000 given at least 5 beds per 1000 inhabitants
prob_A_given_B = prob_A

print("Probability of a country having a GDP over 10000 given they have at least 5 beds per 1000 inhabitants:", prob_A_given_B)

Probability of a country having a GDP over 10000 given they have at least 5 beds per 1000 inhabitants: 0.5807555671085695