In [5]:
import pandas as pd

# List of file names
file_names = ['cardio_alco.csv', 'cardio_base.csv', 'covid_data.csv']

# Dictionary to store DataFrames
dfs = {}

# Loop through each file and read it into a DataFrame
for file_name in file_names:
    # Assuming all files are in the same directory as your Python script
    file_path = file_name
    # Read the file into a DataFrame
    df = pd.read_csv(file_path)
    # Store the DataFrame in the dictionary using the file name as the key
    dfs[file_name] = df

# Now you can access each DataFrame using its file name as the key
# For example:
cardio_alco_df = dfs['cardio_alco.csv']
cardio_base_df = dfs['cardio_base.csv']
covid_data_df = dfs['covid_data.csv']

# You can perform operations on these DataFrames as needed
# For example, you can print the first few rows of each DataFrame:
print("First few rows of cardio_alco_df:")
cardio_alco_df.head()

print("\nFirst few rows of cardio_base_df:")
cardio_base_df.head()

print("\nFirst few rows of covid_data_df:")
covid_data_df.head()

First few rows of cardio_alco_df:

First few rows of cardio_base_df:

First few rows of covid_data_df:

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [3]:
pip  install pandas

Collecting pandas
  Using cached pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/dragon/.local/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 416 kB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 706 kB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 17 kB/s  eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.