In [5]:
import pandas as pd

# List of file names
file_names = ['cardio_alco.csv', 'cardio_base.csv', 'covid_data.csv']

# Dictionary to store DataFrames
dfs = {}

# Loop through each file and read it into a DataFrame
for file_name in file_names:
    # Assuming all files are in the same directory as your Python script
    file_path = file_name
    # Read the file into a DataFrame
    df = pd.read_csv(file_path)
    # Store the DataFrame in the dictionary using the file name as the key
    dfs[file_name] = df

# Now you can access each DataFrame using its file name as the key
# For example:
cardio_alco_df = dfs['cardio_alco.csv']
cardio_base_df = dfs['cardio_base.csv']
covid_data_df = dfs['covid_data.csv']

# You can perform operations on these DataFrames as needed
# For example, you can print the first few rows of each DataFrame:
print("First few rows of cardio_alco_df:")
cardio_alco_df.head()

print("\nFirst few rows of cardio_base_df:")
cardio_base_df.head()

print("\nFirst few rows of covid_data_df:")
covid_data_df.head()

First few rows of cardio_alco_df:

First few rows of cardio_base_df:

First few rows of covid_data_df:

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [8]:
cardio_alco_df.head()

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0

In [9]:
cardio_base_df.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [10]:


# Read the CSV file with semicolon as the delimiter
cardio_alco_df = pd.read_csv('cardio_alco.csv', sep=';')
cardio_alco_df.head()

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0