#   QUESTION 1

*SET UP*

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import scipy.stats as stats
import random

# QUESTION 2

*Set up*

Imagine you are the manager of an Electronic store in Dubai mall. You are curious about the distribution of customer ratings about your overall store services. So you ask random customers who visit the store to complete a short survey, recording variables such as their age group, and overall experience rating.

**To Begin**

Run the code below. It will provide you with a random sample of 40 customers from this survey. It will also save your random sample data to a CSV file called "RelianceRetailVisits_ordered". Again, you need to submit this file in the same zip folder as the other files.

In [2]:
# Load the following libraries so that they can be applied in the subsequent code blocks

try:
    df = pd.read_csv('RelianceRetailVisits.csv')
except FileNotFoundError:
    original_data = pd.read_csv("https://raw.githubusercontent.com/DanaSaleh1003/IDS-103-Spring-2024/main/RelianceRetailVisits-1.csv")

    # Randomly sample 40 rows from the original dataset
    df = original_data.sample(n=40, random_state=42)

# Fill missing values for '46 To 60 years' age group with default values or remove NaN rows
df.fillna({'Age Group': '46 To 60 years'}, inplace=True)

# Sort the DataFrame based on the 'Age Group' column in the desired order
desired_order = ['26  To  35 years', '16  To  25 years', '36  To  45 years', '46  To  60 years']  # Corrected unique values
df['Age Group'] = pd.Categorical(df['Age Group'], categories=desired_order, ordered=True)
df.sort_values(by='Age Group', inplace=True)

# Save the sorted DataFrame to a new CSV file
df.to_csv('RelianceRetailVisits_ordered.csv', index=False)

df.head()

     Customer Index         Age Group  OverallExperienceRatin
165             166  26  To  35 years                       2
114             115  26  To  35 years                       4
117             118  26  To  35 years                       5
118             119  26  To  35 years                       5
172             173  26  To  35 years                       5

In [3]:
print(df)

     Customer Index         Age Group  OverallExperienceRatin
165             166  26  To  35 years                       2
114             115  26  To  35 years                       4
117             118  26  To  35 years                       5
118             119  26  To  35 years                       5
172             173  26  To  35 years                       5
152             153  26  To  35 years                       5
167             168  26  To  35 years                       3
111             112  26  To  35 years                       5
144             145  26  To  35 years                       4
120             121  26  To  35 years                       2
148             149  26  To  35 years                       4
96               97  16  To  25 years                       5
16               17  16  To  25 years                       4
75               76  16  To  25 years                       5
104             105  16  To  25 years                       4
82               83  16  To  25 years                       5
18               19  16  To  25 years                       3
79               80  16  To  25 years                       4
86               87  16  To  25 years                       4
9                10  16  To  25 years                       5
25               26  16  To  25 years                       5
60               61  16  To  25 years                       4
68               69  16  To  25 years                       4
15               16  16  To  25 years                       3
45               46  16  To  25 years                       1
101             102  16  To  25 years                       4
30               31  16  To  25 years                       4
184             185  36  To  45 years                       5
176             177  36  To  45 years                       4
193             194  36  To  45 years                       5
178             179  36  To  45 years                       4
182             183  36  To  45 years                       4
175             176  36  To  45 years                       4
207             208  46  To  60 years                       2
200             201  46  To  60 years                       4
198             199  46  To  60 years                       2
201             202  46  To  60 years                       4
214             215  46  To  60 years                       2
195             196  46  To  60 years                       3
220             221  46  To  60 years                       2