In [2]:
import mysql.connector

# AWS RDS MySQL connection configuration
config = {
    'host': 'falode3368-1.ch6kyu62mcnp.us-east-1.rds.amazonaws.com',
    'user': 'Falode',
    'password': '1QAZ2wsx',
    'database': 'cis3368DB'
}

# Connect to the database
connection = mysql.connector.connect(**config)
cursor = connection.cursor()

# Check if the 'coupon' table exists
cursor.execute("SHOW TABLES LIKE 'coupon'")
table_exists = cursor.fetchone()

if table_exists:
    print("The 'coupon' table already exists. No records inserted.")
else:
    # Create the 'coupon' table
    cursor.execute("""
        CREATE TABLE coupon (
            id INT AUTO_INCREMENT PRIMARY KEY,
            code VARCHAR(255) UNIQUE NOT NULL,
            discount DECIMAL(5,2) NOT NULL
        )
    """)
    print("The 'coupon' table has been created.")

    # Insert 5 sample records
    coupon_data = [
        ('CODE1', 10.00),
        ('CODE2', 15.50),
        ('CODE3', 20.00),
        ('CODE4', 25.75),
        ('CODE5', 30.00)
    ]
    cursor.executemany("INSERT INTO coupon (code, discount) VALUES (%s, %s)", coupon_data)
    print("5 sample records have been inserted into the 'coupon' table.")

# Select all records from the 'coupon' table
cursor.execute("SELECT * FROM coupon")
records = cursor.fetchall()
print("\nAll records from the 'coupon' table:")
for record in records:
    print(record)

# Commit changes and close connection
connection.commit()
connection.close()

The 'coupon' table already exists. No records inserted.

All records from the 'coupon' table:
(1, 'CODE1', Decimal('10.00'))
(2, 'CODE2', Decimal('15.50'))
(3, 'CODE3', Decimal('20.00'))
(4, 'CODE4', Decimal('25.75'))
(5, 'CODE5', Decimal('30.00'))