In [6]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="falode3368-1.ch6kyu62mcnp.us-east-1.rds.amazonaws.com",
    user="Falode",
    password="1QAZ2wsx",
    database="cis3368DB"
)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()

# Define SQL statements to create tables
create_facility_table = """
CREATE TABLE IF NOT EXISTS facility (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255)
)
"""

create_classroom_table = """
CREATE TABLE IF NOT EXISTS classroom (
    id INT AUTO_INCREMENT PRIMARY KEY,
    capacity INT,
    name VARCHAR(255),
    facility_id INT,
    CONSTRAINT fk_facility_id FOREIGN KEY (facility_id) REFERENCES facility(id)
)
"""

create_teacher_table = """
CREATE TABLE IF NOT EXISTS teacher (
    id INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(255),
    lastname VARCHAR(255),
    classroom_id INT,
    CONSTRAINT fk_classroom_id FOREIGN KEY (classroom_id) REFERENCES classroom(id)
)
"""

create_child_table = """
CREATE TABLE IF NOT EXISTS child (
    id INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(255),
    lastname VARCHAR(255),
    age INT,
    classroom_id INT,
    CONSTRAINT fk_classroom_id_child FOREIGN KEY (classroom_id) REFERENCES classroom(id)
)
"""

# Execute the SQL statements
cursor.execute(create_facility_table)
cursor.execute(create_classroom_table)
cursor.execute(create_teacher_table)
cursor.execute(create_child_table)

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Tables created successfully!")

Tables created successfully!