In [6]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="falode3368-1.ch6kyu62mcnp.us-east-1.rds.amazonaws.com",
    user="Falode",
    password="1QAZ2wsx",
    database="cis3368DB"
)

# Function to execute SQL queries
def execute_query(query, data=None, commit=False):
    cursor = connection.cursor()
    if data:
        cursor.execute(query, data)
    else:
        cursor.execute(query)
    if commit:
        connection.commit()

# Define SQL queries to check if tables exist
table_exist_queries = [
    "SHOW TABLES LIKE 'Facility'",
    "SHOW TABLES LIKE 'Classroom'",
    "SHOW TABLES LIKE 'Teacher'",
    "SHOW TABLES LIKE 'Child'"
]

# Execute queries to check if tables exist
tables_exist = []
for query in table_exist_queries:
    cursor = connection.cursor()
    cursor.execute(query)
    result = cursor.fetchone()
    if result:
        tables_exist.append(result[0])

# Define SQL queries to create tables
create_facility_table = """
CREATE TABLE IF NOT EXISTS Facility (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL
)
"""

create_classroom_table = """
CREATE TABLE IF NOT EXISTS Classroom (
    id INT AUTO_INCREMENT PRIMARY KEY,
    capacity INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    facility_id INT,
    FOREIGN KEY (facility_id) REFERENCES Facility(id)
)
"""

create_teacher_table = """
CREATE TABLE IF NOT EXISTS Teacher (
    id INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(255) NOT NULL,
    lastname VARCHAR(255) NOT NULL,
    room VARCHAR(255),
    classroom_id INT,
    FOREIGN KEY (classroom_id) REFERENCES Classroom(id)
)
"""

create_child_table = """
CREATE TABLE IF NOT EXISTS Child (
    id INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(255) NOT NULL,
    lastname VARCHAR(255) NOT NULL,
    age INT NOT NULL,
    room VARCHAR(255),
    classroom_id INT,
    FOREIGN KEY (classroom_id) REFERENCES Classroom(id)
)
"""

# Execute SQL queries to create tables
for query in [create_facility_table, create_classroom_table, create_teacher_table, create_child_table]:
    try:
        execute_query(query, commit=True)
        print("Table created successfully.")
    except mysql.connector.Error as err:
        print(f"Error creating table: {err}")

# Close the connection
connection.close()

Table created successfully.
Table created successfully.
Table created successfully.
Table created successfully.

In [7]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="falode3368-1.ch6kyu62mcnp.us-east-1.rds.amazonaws.com",
    user="Falode",
    password="1QAZ2wsx",
    database="cis3368DB"
)

# Function to execute SQL queries
def execute_query(query, data=None, commit=False):
    cursor = connection.cursor()
    if data:
        cursor.execute(query, data)
    else:
        cursor.execute(query)
    if commit:
        connection.commit()

# Define SQL queries to check if tables exist
table_exist_queries = [
    "SHOW TABLES LIKE 'Facility'",
    "SHOW TABLES LIKE 'Classroom'",
    "SHOW TABLES LIKE 'Teacher'",
    "SHOW TABLES LIKE 'Child'"
]

# Execute queries to check if tables exist
tables_exist = []
for query in table_exist_queries:
    cursor = connection.cursor()
    cursor.execute(query)
    result = cursor.fetchone()
    if result:
        tables_exist.append(result[0])

# Print message if table already exists
for table_name in tables_exist:
    print(f"Table '{table_name}' already exists.")

# Define SQL queries to create tables
create_facility_table = """
CREATE TABLE IF NOT EXISTS Facility (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL
)
"""

create_classroom_table = """
CREATE TABLE IF NOT EXISTS Classroom (
    id INT AUTO_INCREMENT PRIMARY KEY,
    capacity INT NOT NULL,
    name VARCHAR(255) NOT NULL,
    facility_id INT,
    FOREIGN KEY (facility_id) REFERENCES Facility(id)
)
"""

create_teacher_table = """
CREATE TABLE IF NOT EXISTS Teacher (
    id INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(255) NOT NULL,
    lastname VARCHAR(255) NOT NULL,
    room VARCHAR(255),
    classroom_id INT,
    FOREIGN KEY (classroom_id) REFERENCES Classroom(id)
)
"""

create_child_table = """
CREATE TABLE IF NOT EXISTS Child (
    id INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(255) NOT NULL,
    lastname VARCHAR(255) NOT NULL,
    age INT NOT NULL,
    room VARCHAR(255),
    classroom_id INT,
    FOREIGN KEY (classroom_id) REFERENCES Classroom(id)
)
"""

# Execute SQL queries to create tables for non-existing tables
for table_name, create_query in {
    "Facility": create_facility_table,
    "Classroom": create_classroom_table,
    "Teacher": create_teacher_table,
    "Child": create_child_table
}.items():
    if table_name not in tables_exist:
        try:
            execute_query(create_query, commit=True)
            print(f"Table '{table_name}' created successfully.")
        except mysql.connector.Error as err:
            print(f"Error creating table '{table_name}': {err}")

# Close the connection
connection.close()

Table 'Facility' already exists.
Table 'Classroom' already exists.
Table 'Teacher' already exists.
Table 'Child' already exists.

In [8]:
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="falode3368-1.ch6kyu62mcnp.us-east-1.rds.amazonaws.com",
    user="Falode",
    password="1QAZ2wsx",
    database="cis3368DB"
)

# Function to execute SQL queries
def execute_query(query, data=None, commit=False):
    cursor = connection.cursor()
    if data:
        cursor.execute(query, data)
    else:
        cursor.execute(query)
    if commit:
        connection.commit()

# Define SQL queries to insert rows into each table
insert_queries = [
    "INSERT INTO Facility (name) VALUES (%s)",
    "INSERT INTO Classroom (capacity, name, facility_id) VALUES (%s, %s, %s)",
    "INSERT INTO Teacher (firstname, lastname, room, classroom_id) VALUES (%s, %s, %s, %s)",
    "INSERT INTO Child (firstname, lastname, age, room, classroom_id) VALUES (%s, %s, %s, %s, %s)"
]

# Data to insert into each table
facility_data = [("Facility 1",), ("Facility 2",)]
classroom_data = [(20, "Classroom 1", 1), (30, "Classroom 2", 2)]
teacher_data = [("John", "Doe", "Room 1", 1), ("Jane", "Smith", "Room 2", 2)]
child_data = [("Alice", "Doe", 5, "Room 1", 1), ("Bob", "Smith", 6, "Room 2", 2)]

# Execute SQL queries to insert rows into each table
for query, data in zip(insert_queries, [facility_data, classroom_data, teacher_data, child_data]):
    for row in data:
        execute_query(query, row, commit=True)
        print("Row inserted successfully.")

# Close the connection
connection.close()

Row inserted successfully.
Row inserted successfully.
Row inserted successfully.
Row inserted successfully.
Row inserted successfully.
Row inserted successfully.
Row inserted successfully.
Row inserted successfully.