In [1]:
import os
import pandas as pd

# Specify the path to your folder
folder_path = r'C:\Users\neste\3D Objects\Gitrepos\robertnesterodhiambo-Data-analysis\file conversion'

# Specify the filename
filename = 'cale_20240116 (Calendar Best).txt'

# Construct the full path to the text file
txt_file_path = os.path.join(folder_path, filename)

# Find the line number where the data starts
skip_rows = 0
header_line = ''
with open(txt_file_path, 'r') as file:
    for i, line in enumerate(file):
        if "Accuracy and completeness are not guaranteed." in line:
            skip_rows = i + 2  # Skip the next two lines (header and empty line)
            header_line = next(file).strip()
            break

# Split the existing header into new headers
new_headers = header_line.split()

# Read the .txt file into a pandas DataFrame, skipping the specified lines
df = pd.read_csv(txt_file_path, delimiter='\t', skiprows=skip_rows, header=None)  # Adjust the delimiter if needed

# Fill missing headers with "NA"
while len(new_headers) < len(df.columns):
    new_headers.append("NA")

# Assign the new headers to the DataFrame
df.columns = new_headers

# Split all rows using the same logic as the header
for col in df.columns:
    df[col] = df[col].str.split()

# Fill in empty cells with "NA"
df = df.apply(lambda col: col.apply(lambda x: x if isinstance(x, list) else ["NA"]))

# Construct the full path to the Excel file
excel_file_path = os.path.join(folder_path, f'{os.path.splitext(filename)[0]}_with_new_headers_and_split_rows.xlsx')

# Write the DataFrame to an Excel file
df.to_excel(excel_file_path, index=False)

print(f'Successfully converted and modified {txt_file_path} to {excel_file_path}')

# Read the Excel file and print the DataFrame
converted_df = pd.read_excel(excel_file_path)
print('\nConverted and Modified DataFrame from Excel:')
print(converted_df)


# Create a new DataFrame to store the extracted text values for each row
extracted_rows = {}

# Iterate through each row in converted_df
for index, row in converted_df.iterrows():
    # Extract text values from the current row and store them in a Series
    row_values = pd.Series(row.str.split().explode().tolist())
    
    # Save the Series to the extracted_rows dictionary
    row_name = f'row{index}'
    extracted_rows[row_name] = row_values

# Merge all extracted rows into a single DataFrame
merged_rows_df = pd.DataFrame(extracted_rows)

# Display the merged DataFrame
print('\nMerged DataFrame from Extracted Rows:')
print(merged_rows_df)


# Transpose the DataFrame
transposed_merged_rows_df = merged_rows_df.transpose()  # Using .transpose() method
# or
transposed_merged_rows_df = merged_rows_df.T  # Using .T attribute

# Use the first row as headers in the transposed DataFrame
transposed_merged_rows_df.columns = transposed_merged_rows_df.iloc[0]

# Drop the first row (since it's now the header)
transposed_merged_rows_df = transposed_merged_rows_df[1:]

# Remove specified characters from all cells in the DataFrame
transposed_merged_rows_df = transposed_merged_rows_df.applymap(lambda x: str(x).replace("'", "").replace(",", "").replace("]", ""))

# Specify the Excel file path
excel_output_path = os.path.join(folder_path, 'cale_20240116 (Calendar Best).xlsx')

# Write the DataFrame to an Excel file
transposed_merged_rows_df.to_excel(excel_output_path, index=False)

# Display the DataFrame with the updated headers
transposed_merged_rows_df

Successfully converted and modified C:\Users\neste\3D Objects\Gitrepos\robertnesterodhiambo-Data-analysis\file conversion\cale_20240116 (Calendar Best).txt to C:\Users\neste\3D Objects\Gitrepos\robertnesterodhiambo-Data-analysis\file conversion\cale_20240116 (Calendar Best)_with_new_headers_and_split_rows.xlsx

Converted and Modified DataFrame from Excel:
                                                      NA
0      ['Symb', 'Stk', 'SOpt', 'StrkMn', 'Sbid', 'LOp...
1      ['PCAR', '94.05', 'P', 'May', '106.8', '12.90'...
2      ['PCAR', '94.05', 'P', 'May', '101.8', '8.30',...
3      ['PCAR', '94.05', 'P', 'Jun', '106.8', '13.10'...
4      ['Symb', 'Stk', 'SOpt', 'StrkMn', 'Sbid', 'LOp...
...                                                  ...
15277  ['ELF', '163.93', 'P', 'Feb+', '160', '10.20',...
15278  ['TEAM', '240.56', 'P', 'Mar', '280', '43.60',...
15279  ['TEAM', '240.56', 'P', 'Feb', '260', '26.30',...
15280  ['Symb', 'Stk', 'SOpt', 'StrkMn', 'Sbid', 'LOp...
15281  ['ADM', '69.10', 'P', 'Feb', '75', '6.20', 'Se...

[15282 rows x 1 columns]

Merged DataFrame from Extracted Rows:
                   row0                 row1                 row2  \
0              ['Symb',             ['PCAR',             ['PCAR',
1                'Stk',             '94.05',             '94.05',
2               'SOpt',                 'P',                 'P',
3             'StrkMn',               'May',               'May',
4               'Sbid',             '106.8',             '101.8',
5               'LOpt',             '12.90',              '8.30',
6             'StrkMn',            "Jan'26",            "Jan'26",
7               'Lask',             '106.8',             '101.8',
8                'DBE',             '18.30',             '14.80',
9                'UBE',             '90.72',             '89.73',
10              '%DBE',            '134.40',            '121.54',
11              '%UBE',                '-4',                '-5',
12             'PrDBE',                '43',                '29',
13             'PrUBE',                '41',                '38',
14            'p(pft)',                 '1',                 '5',
15            'Maxpft',                '67',                '65',
16            'p(max)',              '7.51',              '5.71',
17              'ERTN',                '12',                '19',
18             'AERTN',              '24.9',              '11.3',
19              'Invt',              '74.4',              '33.9',
20               'IVF',              '5.50',              '6.60',
21           'Sleftyr',               '-10',                '-7',
22              'bdIV',              '0.33',              '0.33',
23           'Lleftyr',              '22.8',              '23.6',
24              'asIV',              '2.00',              '2.00',
25            'CompIV',              '26.9',              '28.3',
26              '%ile',              '26.3',              '26.3',
27  'FullOptionSymbol']                '54',                '54',
28                  NaN              'PCAR',              'PCAR',
29                  NaN  '240517P00106.800',  '240517P00101.800',
30                  NaN              'PCAR',              'PCAR',
31                  NaN  '260116P00106.800']  '260116P00101.800']

                   row3                 row4                 row5  \
0              ['PCAR',             ['Symb',             ['Symb',
1              '94.05',               'Stk',               'Stk',
2                  'P',              'SOpt',              'SOpt',
3                'Jun',            'StrkMn',            'StrkMn',
4              '106.8',              'Sbid',              'Sbid',
5              '13.10',              'LOpt',              'LOpt',
6             "Jan'26",            'StrkMn',            'StrkMn',
7              '106.8',              'Lask',              'Lask',
8              '18.30',               'DBE',               'DBE',
9              '90.91',               'UBE',               'UBE',
10            '133.73',              '%DBE',              '%DBE',
11                '-3',              '%UBE',              '%UBE',
12                '42',             'PrDBE',             'PrDBE',
13                '42',             'PrUBE',             'PrUBE',
14                 '2',            'p(pft)',            'p(pft)',
15                '69',            'Maxpft',            'Maxpft',
16              '7.68',            'p(max)',            'p(max)',
17                '15',              'ERTN',              'ERTN',
18              '20.2',             'AERTN',             'AERTN',
19              '46.9',              'Invt',              'Invt',
20              '5.30',               'IVF',               'IVF',
21                '-9',           'Sleftyr',           'Sleftyr',
22              '0.43',              'bdIV',              'bdIV',
23              '23.0',           'Lleftyr',           'Lleftyr',
24              '2.00',              'asIV',              'asIV',
25              '26.9',            'CompIV',            'CompIV',
26              '26.3',              '%ile',              '%ile',
27                '54',  'FullOptionSymbol']  'FullOptionSymbol']
28              'PCAR',                  NaN                  NaN
29  '240621P00106.800',                  NaN                  NaN
30              'PCAR',                  NaN                  NaN
31  '260116P00106.800']                  NaN                  NaN

                   row6                 row7                 row8  \
0              ['Symb',             ['Symb',             ['Symb',
1                'Stk',               'Stk',               'Stk',
2               'SOpt',              'SOpt',              'SOpt',
3             'StrkMn',            'StrkMn',            'StrkMn',
4               'Sbid',              'Sbid',              'Sbid',
5               'LOpt',              'LOpt',              'LOpt',
6             'StrkMn',            'StrkMn',            'StrkMn',
7               'Lask',              'Lask',              'Lask',
8                'DBE',               'DBE',               'DBE',
9                'UBE',               'UBE',               'UBE',
10              '%DBE',              '%DBE',              '%DBE',
11              '%UBE',              '%UBE',              '%UBE',
12             'PrDBE',             'PrDBE',             'PrDBE',
13             'PrUBE',             'PrUBE',             'PrUBE',
14            'p(pft)',            'p(pft)',            'p(pft)',
15            'Maxpft',            'Maxpft',            'Maxpft',
16            'p(max)',            'p(max)',            'p(max)',
17              'ERTN',              'ERTN',              'ERTN',
18             'AERTN',             'AERTN',             'AERTN',
19              'Invt',              'Invt',              'Invt',
20               'IVF',               'IVF',               'IVF',
21           'Sleftyr',           'Sleftyr',           'Sleftyr',
22              'bdIV',              'bdIV',              'bdIV',
23           'Lleftyr',           'Lleftyr',           'Lleftyr',
24              'asIV',              'asIV',              'asIV',
25            'CompIV',            'CompIV',            'CompIV',
26              '%ile',              '%ile',              '%ile',
27  'FullOptionSymbol']  'FullOptionSymbol']  'FullOptionSymbol']
28                  NaN                  NaN                  NaN
29                  NaN                  NaN                  NaN
30                  NaN                  NaN                  NaN
31                  NaN                  NaN                  NaN

                   row9  ...             row15272             row15273  \
0              ['Symb',  ...             ['LRCX',              ['NET',
1                'Stk',  ...            '761.14',             '78.45',
2               'SOpt',  ...                 'C',                 'C',
3             'StrkMn',  ...              'Feb+',              'Feb+',
4               'Sbid',  ...               '825',                '90',
5               'LOpt',  ...              '8.90',              '2.06',
6             'StrkMn',  ...              'Mar+',               'Apr',
7               'Lask',  ...               '825',                '90',
8                'DBE',  ...             '15.95',              '4.35',
9                'UBE',  ...            '765.95',             '77.80',
10              '%DBE',  ...            '893.54',            '106.40',
11              '%UBE',  ...                 '1',                '-1',
12             'PrDBE',  ...                '17',                '36',
13             'PrUBE',  ...                '52',                '48',
14            'p(pft)',  ...                 '7',                 '4',
15            'Maxpft',  ...                '71',                '64',
16            'p(max)',  ...             '19.86',              '4.45',
17              'ERTN',  ...                '31',                '20',
18             'AERTN',  ...              '12.1',              '19.1',
19              'Invt',  ...             '183.8',             '183.7',
20               'IVF',  ...              '7.15',              '2.39',
21           'Sleftyr',  ...                '15',                '23',
22              'bdIV',  ...              '0.07',              '0.10',
23           'Lleftyr',  ...              '38.9',              '58.8',
24              'asIV',  ...              '0.12',              '0.26',
25            'CompIV',  ...              '35.2',              '51.9',
26              '%ile',  ...              '43.2',              '52.4',
27  'FullOptionSymbol']  ...                '37',                '11',
28                  NaN  ...              'LRCX',               'NET',
29                  NaN  ...  '240209C00825.000',  '240223C00090.000',
30                  NaN  ...              'LRCX',               'NET',
31                  NaN  ...  '240301C00825.000']  '240419C00090.000']

               row15274             row15275             row15276  \
0              ['COIN',              ['CLF',              ['KKR',
1             '133.88',             '18.08',             '81.55',
2                  'P',                 'P',                 'P',
3               'Mar+',               'Feb',              'Feb+',
4                '155',                '20',                '85',
5              '28.20',              '2.14',              '4.70',
6             "Jan'25",               'Jul',            "Jan'26",
7                '155',                '20',                '85',
8              '50.65',              '3.05',             '13.20',
9             '118.26',             '17.57',             '75.96',
10            '243.22',             '23.48',            '100.39',
11               '-12',                '-3',                '-7',
12                '82',                '30',                '23',
13                '33',                '41',                '24',
14                 '2',                 '2',                 '2',
15                '75',                '80',                '90',
16             '20.09',              '1.11',              '4.86',
17                '17',                '27',                '29',
18              '22.7',              '15.6',              '19.1',
19             '183.7',             '183.7',             '183.7',
20             '22.55',              '1.01',              '8.60',
21                '-5',                 '6',                 '1',
22              '0.12',              '0.08',              '0.10',
23              '82.0',              '44.1',              '30.0',
24              '1.01',              '0.51',              '2.00',
25              '78.9',              '42.5',              '34.1',
26              '80.8',              '44.8',              '31.3',
27                '40',                 '7',                '29',
28              'COIN',               'CLF',               'KKR',
29  '240301P00155.000',  '240216P00020.000',  '240223P00085.000',
30              'COIN',               'CLF',               'KKR',
31  '250117P00155.000']  '240719P00020.000']  '260116P00085.000']

               row15277             row15278             row15279  \
0               ['ELF',             ['TEAM',             ['TEAM',
1             '163.93',            '240.56',            '240.56',
2                  'P',                 'P',                 'P',
3               'Feb+',               'Mar',               'Feb',
4                '160',               '280',               '260',
5              '10.20',             '43.60',             '26.30',
6                'Jun',               'Sep',               'Jun',
7                '160',               '280',               '260',
8              '19.90',             '57.10',             '39.90',
9             '137.65',            '230.05',            '229.86',
10            '193.55',            '360.08',            '302.57',
11               '-16',                '-4',                '-4',
12                '18',                '50',                '26',
13                '18',                '41',                '37',
14                '19',                 '2',                 '5',
15                '78',                '67',                '76',
16             '10.32',             '21.31',             '13.76',
17                '24',                '11',                '33',
18              '19.1',              '29.7',              '15.6',
19             '183.7',             '183.7',             '183.7',
20              '9.80',             '13.60',             '13.70',
21                '21',                 '8',                '24',
22              '0.10',              '0.16',              '0.08',
23              '62.3',              '48.4',              '55.5',
24              '0.43',              '0.68',              '0.43',
25              '57.4',              '48.6',              '49.5',
26              '59.5',              '46.8',              '46.8',
27                '92',                '23',                '23',
28               'ELF',              'TEAM',              'TEAM',
29  '240223P00160.000',  '240315P00280.000',  '240216P00260.000',
30               'ELF',              'TEAM',              'TEAM',
31  '240621P00160.000']  '240920P00280.000']  '240621P00260.000']

               row15280             row15281
0              ['Symb',              ['ADM',
1                'Stk',             '69.10',
2               'SOpt',                 'P',
3             'StrkMn',               'Feb',
4               'Sbid',                '75',
5               'LOpt',              '6.20',
6             'StrkMn',               'Sep',
7               'Lask',                '75',
8                'DBE',              '8.40',
9                'UBE',             '68.51',
10              '%DBE',             '83.76',
11              '%UBE',                '-1',
12             'PrDBE',                '21',
13             'PrUBE',                '46',
14            'p(pft)',                 '1',
15            'Maxpft',                '66',
16            'p(max)',              '2.88',
17              'ERTN',                '23',
18             'AERTN',              '15.6',
19              'Invt',             '183.6',
20               'IVF',              '2.30',
21           'Sleftyr',                 '2',
22              'bdIV',              '0.08',
23           'Lleftyr',              '24.4',
24              'asIV',              '0.68',
25            'CompIV',              '23.8',
26              '%ile',              '26.3',
27  'FullOptionSymbol']                '39',
28                  NaN               'ADM',
29                  NaN  '240216P00075.000',
30                  NaN               'ADM',
31                  NaN  '240920P00075.000']

[32 rows x 15282 columns]

C:\Users\neste\AppData\Local\Temp\ipykernel_10108\534495085.py:89: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  transposed_merged_rows_df = transposed_merged_rows_df.applymap(lambda x: str(x).replace("'", "").replace(",", "").replace("]", ""))

row0,"['Symb',","'Stk',","'SOpt',","'StrkMn',","'Sbid',","'LOpt',","'StrkMn',","'Lask',","'DBE',","'UBE',",...,"'bdIV',","'Lleftyr',","'asIV',","'CompIV',","'%ile',",'FullOptionSymbol'],NaN,NaN,NaN,NaN
row1,[PCAR,94.05,P,May,106.8,12.90,"""Jan26""",106.8,18.30,90.72,...,0.33,22.8,2.00,26.9,26.3,54,PCAR,240517P00106.800,PCAR,260116P00106.800
row2,[PCAR,94.05,P,May,101.8,8.30,"""Jan26""",101.8,14.80,89.73,...,0.33,23.6,2.00,28.3,26.3,54,PCAR,240517P00101.800,PCAR,260116P00101.800
row3,[PCAR,94.05,P,Jun,106.8,13.10,"""Jan26""",106.8,18.30,90.91,...,0.43,23.0,2.00,26.9,26.3,54,PCAR,240621P00106.800,PCAR,260116P00106.800
row4,[Symb,Stk,SOpt,StrkMn,Sbid,LOpt,StrkMn,Lask,DBE,UBE,...,bdIV,Lleftyr,asIV,CompIV,%ile,FullOptionSymbol,nan,nan,nan,nan
row5,[Symb,Stk,SOpt,StrkMn,Sbid,LOpt,StrkMn,Lask,DBE,UBE,...,bdIV,Lleftyr,asIV,CompIV,%ile,FullOptionSymbol,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
row15277,[ELF,163.93,P,Feb+,160,10.20,Jun,160,19.90,137.65,...,0.10,62.3,0.43,57.4,59.5,92,ELF,240223P00160.000,ELF,240621P00160.000
row15278,[TEAM,240.56,P,Mar,280,43.60,Sep,280,57.10,230.05,...,0.16,48.4,0.68,48.6,46.8,23,TEAM,240315P00280.000,TEAM,240920P00280.000
row15279,[TEAM,240.56,P,Feb,260,26.30,Jun,260,39.90,229.86,...,0.08,55.5,0.43,49.5,46.8,23,TEAM,240216P00260.000,TEAM,240621P00260.000
row15280,[Symb,Stk,SOpt,StrkMn,Sbid,LOpt,StrkMn,Lask,DBE,UBE,...,bdIV,Lleftyr,asIV,CompIV,%ile,FullOptionSymbol,nan,nan,nan,nan
row15281,[ADM,69.10,P,Feb,75,6.20,Sep,75,8.40,68.51,...,0.08,24.4,0.68,23.8,26.3,39,ADM,240216P00075.000,ADM,240920P00075.000